<footer class="bg-[#C32428] mt-10 py-2 text-white">
    <div class="container mx-auto flex flex-col justify-between">
        <span class="border-b sm:border-b-0 border-gray-400 pb-4 sm:pb-0">Excellent Integrity Solutions © Todos los Derechos Reservados 2007-2026</span>
        <div class="flex flex-col gap-2 sm:gap-0 sm:flex-row sm:items-center mt-3">
            <span class="sm:border-r border-gray-400 pr-7">info@eisdr.com</span>
            <span class="sm:border-r border-gray-400 sm:px-7">(809) 476-6376</span>

            <div class="sm:border-r border-gray-400 sm:px-7 flex items-center gap-3">
                <a href="#"><i class="fa-brands fa-facebook"></i></a>
                <a href="#"><i class="fa-brands fa-linkedin"></i></a>
            </div>
        </div>
    </div>
</footer>